<!DOCTYPE html>
<html lang="{{ config.locale.0 }}">
<head>
  {% block document_header %}
    <meta charset="{{ config.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block document_title %}{% endblock %}{{ block('document_title') is not empty ? " - " : null }}{{ config.site_title }}</title>
    <link href="{{ assets('css', 'simpas.css') }}" rel="stylesheet" />
  {% endblock %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  {% block document_content %}{% endblock %}

  {% block document_javascript %}
    <script src="{{ assets('js', 'jquery-2.1.1.min.js') }}"></script>
    <script src="{{ assets('js', 'bootstrap.min.js') }}"></script>
    <script src="{{ assets('js', 'simpas.js') }}"></script>
    <script src="{{ assets('js', 'jquery.zclip.min.js') }}"></script>
    <script>
      $(function() {
        $('a#zclip').zclip({
          path: "{{ assets('js', 'ZeroClipboard.swf') }}",
          copy: $('pre#zclip_copy').text()
        });

        $('#zclip').click(function () {
          $(this).addClass('disabled');
          $(this).html('<i class="fa fa-check"></i> {% trans %}Copied to clipboard!{% endtrans %}');
        });
      });
    </script>
  {% endblock %}
</body>
</html>