{% extends "BaseBlockBlank.html.twig" %}

{% block document_content %}
  {% if paste.title is not empty %}
    {% set paste_title = paste.title %}
  {% else %}
    {% set paste_title = paste.unique_id %}
  {% endif %}

  {% set paste_h4 = paste_title|length > 30 ? "<span class=\"tooltip-top\" title=\"" ~ paste_title ~ "\">" ~ paste_title|slice(0, 25) ~ "...</span>" : paste_title %}

  <div class="paste_title" itemprop="name">
    <span class="tooltip-top" title="{{ paste.visibility == 'private' ? 'This paste is private'|trans : 'This paste is public'|trans }}">
      <i class="fa {{ paste.visibility == 'private' ? 'text-danger fa-lock' : 'text-success fa-unlock' }}"></i> 
    </span>

    {% trans %}Paste{% endtrans %} &quot;<a href="{{ build_url('paste/' ~ paste.unique_id) }}">{{ paste_h4|raw }}</a>&quot;

    <span title="{% trans %}Syntax highlighting{% endtrans %}" class="tooltip-top label label-warning"><i class="fa fa-puzzle-piece"></i> {{ paste.syntax }}</span>

    {% if paste.author is not empty %}
      {% set paste_author = paste.author|length > 15 ? "<span class=\"tooltip-top\" title=\"" ~ paste.author ~ "\">" ~ paste.author|slice(0, 15) ~ "...</span>" : paste.author %}
        {% trans %}by{% endtrans %} {{ paste_author|raw }}
    {% endif %}
  </div>

  <ul class="list-inline">
    <li><a href="#" id="zclip" class="btn btn-primary btn-sm"><i class="fa fa-copy fa-lg"></i> {% trans %}Copy to clipboard{% endtrans %}</a></li>
    <li><a href="{{ build_url('raw/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-terminal fa-lg"></i> {% trans %}Raw mode{% endtrans %}</a></li>
    <li><a href="{{ build_url('download/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-download fa-lg"></i> {% trans %}Download{% endtrans %}</a></li>
  </ul>

  {{ paste.content|raw }}
{% endblock %}