{% extends "BaseBlock.html.twig" %}

  {% block document_content %}
    <form method="post" action="{{ config.full_url }}paste/{{ paste_id }}">

      <div class="pull-left" style="width: 49%; margin-right: 2%;">
        <input type="text" autocomplete="off" name="post_paste_title" pattern="[A-Za-z0-9{{ config.accented_characters is not empty ? config.accented_characters : null }}\-_?\.!\s]+" class="form-control" placeholder="{% trans %}Title (Optional){% endtrans %}">
      </div>
      <div class="pull-left" style="width: 49%">
        <input type="text" autocomplete="off" name="post_paste_author" pattern="[A-Za-z0-9{{ config.accented_characters is not empty ? config.accented_characters : null }}\-_?\.!\s]+" class="form-control" placeholder="{% trans %}Author (Optional){% endtrans %}">
      </div>
      <br /><br />

      <h4 class="muted_font hidden-xs pull-left"><i class="fa fa-code"></i> {% trans %}Paste text or code in the field below{% endtrans %}</h4>
      <button type="button" id="options" data-toggle="popover" data-placement="left" style="margin-left: 6px; margin-bottom: 3px" title="{% trans %}Pastebin options{% endtrans %}" class="muted_font btn pull-right"><i class="fa fa-plus"></i></button>

      <div id="form_data" class="hide"></div>
      <div id="popover_content" class="hide">
        {% include "Options.html.twig" %}
      </div>

      {% set max_chars = config.max_chars %}
      {% set max_size = config.max_size_in_kb %}
      <div style="margin: 2px 0 2px 0">
        <span class="pull-right label label-default"><i class="fa fa-info-circle"></i> {% trans %}Maximum: {{ max_chars }} chars / {{ max_size }}KB{% endtrans %}</span>
      </div>
    
      <textarea id="_chars_left" style="height: 350px;" required="required" name="post_paste_content" class="form-control" placeholder="{% trans %}Paste content (required){% endtrans %}..."></textarea>
      <br />

      {% if config.antispam_enabled == true %}
        <h4 class="muted_font hidden-xs pull-left"><i class="fa fa-question-circle"></i> {% trans %}Anti-spam question{% endtrans %}</h4><br /><br />
        {% set antispam_question = antispam.question() %}
        <label for="antispamquestion">{{ antispam_question }}</label>
        <input type="hidden" name="post_antispam_question" value="{{ antispam_question }}">
        <input type="text" autocomplete="off" name="post_antispam_answer" id="antispamquestion" class="form-control" placeholder="{% trans %}Type answer here...{% endtrans %}">

        <br />
      {% endif %}

      <div class="col-lg-4 col-md-3 col-sm-4 col-xs-9 syntax_highlight_option pull-left">
        <h4 class="muted_font"><i class="fa fa-puzzle-piece"></i> {% trans %}Syntax highlighting{% endtrans %}</h4>
        <select class="form-control chzn-select" name="post_syntax_highlight_language">
          {% for languages in geshi_languages %}
            <option value="{{ languages }}"{{ languages|lower == config.default_geshi_language|lower ? " selected=\"selected\"" : "" }}>{{ languages }}</option>
          {% endfor %}
        </select>
      </div>

      <input type="hidden" name="post_poked" value="1">

      <div class="hidden-xs pull-right">
        <h4 class="muted_font"><i class="fa fa-save"></i> {% trans %}Send this paste{% endtrans %}</h4>
        <button name="post_paste_visibility" value="private" data-loading-text="{% trans %}Sending...{% endtrans %}" id="loading_button" type="submit" class="btn main_button button_private">
          {% trans %}Send private paste{% endtrans %}
        </button>
        <button name="post_paste_visibility" value="public" data-loading-text="{% trans %}Sending...{% endtrans %}" id="loading_button" type="submit" class="btn main_button">
          {% trans %}Send public paste{% endtrans %}
        </button>
      </div>

      <div class="visible-xs pull-left">
        <h4 class="muted_font"><i class="fa fa-save"></i> {% trans %}Send this paste{% endtrans %}</h4>
        <button name="post_paste_visibility" value="private" data-loading-text="{% trans %}Sending...{% endtrans %}" id="loading_button" type="submit" class="btn main_button button_private">
          {% trans %}Send private paste{% endtrans %}
        </button>
        <button name="post_paste_visibility" value="public" data-loading-text="{% trans %}Sending...{% endtrans %}" id="loading_button" type="submit" class="btn main_button">
          {% trans %}Send public paste{% endtrans %}
        </button>
      </div>
    </form>
  {% endblock %}