{% extends "BaseBlock.html.twig" %}

  {% block document_title %}
      ({{ paste.syntax }}) {{ paste.title is not empty ? paste.title : paste.unique_id }}
      {% if paste.author is not empty %}
        {% trans %}by{% endtrans %} {{ paste.author }}
      {% endif %}
  {% endblock %}

  {% block breadcrumb %}
    {{ breadcrumb.add('Paste'|trans ~ ': ' ~ paste.unique_id, build_url('paste/' ~ paste.unique_id)) }}
  {% endblock %}

  {% block document_header %}
    {{ parent() }}

    {% if paste.visibility == 'private' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}
  {% endblock %}
  
  {% block document_content %}
    {% if paste.title is not empty %}
      {% set paste_title = paste.title %}
    {% else %}
      {% set paste_title = paste.unique_id %}
    {% endif %}

    {% set paste_h4 = paste_title|length > 30 ? "<span class=\"tooltip-top\" title=\"" ~ paste_title ~ "\">" ~ paste_title|slice(0, 25) ~ "...</span>" : paste_title %}

    {% if paste.hits >= config.hot_paste %}
      <div class="hidden-xs hidden-sm">
        <span title="{% trans %}Popular paste{% endtrans %}" class="tooltip-top glyphicon glyphicon-fire fa-lg latest_hot"></span>
      </div>
    {% endif %}

    <div class="paste_title" itemprop="name">
      <span class="tooltip-top" title="{{ paste.visibility == 'private' ? 'This paste is private'|trans : 'This paste is public'|trans }}">
        <i class="fa {{ paste.visibility == 'private' ? 'fa-lock' : 'muted_font fa-unlock' }}"></i> 
      </span>

      {% trans %}Paste{% endtrans %} &quot;<a href="{{ build_url('paste/' ~ paste.unique_id) }}">{{ paste_h4|raw }}</a>&quot;

      <span title="{% trans %}Syntax highlighting{% endtrans %}" class="tooltip-top label label-success">{{ paste.syntax }}</span>

      {% if paste.author is not empty %}
        {% set paste_author = paste.author|length > 15 ? "<span class=\"tooltip-top\" title=\"" ~ paste.author ~ "\">" ~ paste.author|slice(0, 15) ~ "...</span>" : paste.author %}
        {% trans %}by{% endtrans %} {{ paste_author|raw }}
      {% endif %}
    </div>

    <ul class="list-inline hidden-xs">
      <li><a href="#" id="zclip" class="btn btn-primary btn-sm"><i class="fa fa-copy fa-lg"></i> {% trans %}Copy{% endtrans %}</a></li>
      <li><a href="{{ build_url('raw/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-terminal fa-lg"></i> {% trans %}Raw{% endtrans %}</a></li>
      <li><a href="{{ build_url('download/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-cloud-download fa-lg"></span> {% trans %}Download{% endtrans %}</a></li>
      <li><a data-toggle="modal" href="#share" class="btn btn-primary btn-sm"><i class="fa fa-share fa-lg"></i> {% trans %}Share{% endtrans %}</a></li>
      <li><a href="#" id="print" class="btn btn-primary btn-sm"><i class="fa fa-print fa-lg"></i> {% trans %}Print{% endtrans %}</a></li>
      <li><a href="{{ build_url('compare/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-cubes fa-lg"></i> {% trans %}Compare{% endtrans %}</a></li>
    </ul>

    <ul class="list-inline visible-xs">
      <li><a href="#" id="zclip" class="btn btn-primary btn-sm"><i class="fa fa-copy fa-lg"></i></a></li>
      <li><a href="{{ build_url('raw/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-terminal fa-lg"></i></a></li>
      <li><a href="{{ build_url('download/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-download fa-lg"></i></a></li>
      <li><a data-toggle="modal" href="#share" class="btn btn-primary btn-sm"><i class="fa fa-share fa-lg"></i></a></li>
      <li><a href="#" id="print" class="btn btn-primary btn-sm"><i class="fa fa-print fa-lg"></i></a></li>
      <li><a href="{{ build_url('compare/' ~ paste.unique_id) }}" class="btn btn-primary btn-sm"><i class="fa fa-cubes fa-lg"></i></a></li>
    </ul>

    {% include "ShareModal.html.twig" %}
    
    <div style="margin-top: 10px; clear: left">
      {{ paste.content|raw }}
    </div>

    <div class="pull-left">
      <div class="to_top pull-left">
        <a class="tooltip-top" title="{% trans %}Go to top{% endtrans %}" href="#top">
          <i class="fa fa-arrow-up"></i>
        </a>
      </div>

      <small class="muted_font">
        {% trans %}Submitted{% endtrans %} <time>{{ paste.time|date("Y-m-d H:i:s") }}</time> {% trans %}and{% endtrans %}

        {% if paste.expire is not empty and paste.expire == 'never' %}
          {% trans %}never expires{% endtrans %}
        {% else %}
          {% trans %}will expire in{% endtrans %} <time class="no_suffix">{{ paste.expire|date("Y-m-d H:i:s") }}</time>
        {% endif %}
        &nbsp;&nbsp;
        {% if paste.author_website is not empty and config.author_website_enabled == true %}
          <a rel="nofollow" class="tooltip-top" title="{{ paste.author_website }}" href="{{ paste.author_website }}"><span class="glyphicon glyphicon-link"></span> {% trans %}Author website link{% endtrans %}</a>&nbsp;&nbsp;
        {% endif %}
      </small>

      {% if config.admin_email is not empty %}
        <small><a href="{{ build_url('abuse/' ~ paste.unique_id) }}"><i class="fa fa-flag"></i> {% trans %}Report abuse{% endtrans %}</a></small>
      {% endif %}
    </div>
    
    <div class="pull-right">
      {% set paste_size = paste.size / 1024 %}
      <span class="label label-default"><i class="fa fa-hdd-o"></i> {{ paste_size|round(0, 'ceil') }}KB</span>
      <span class="label label-default"><i class="fa fa-list-ol"></i> {% trans %}Characters{% endtrans %}: {{ paste.length }}</span>
      <span class="label label-default"><i class="glyphicon glyphicon-fire"></i> {% trans %}Hits{% endtrans %}: {{ paste.hits }}</span>
    </div>
  {% endblock %}