    <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans %}Share this paste{% endtrans %}</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon tooltip-top" title="{% trans %}BBCode{% endtrans %}" style="min-width: 48px; max-width: 90px"><i class="fa fa-align-left"></i></span>
                        <input onclick="this.select();" class="form-control input-lg" type="text" 
                            value="[url={{ config.full_url }}paste/{{ paste.unique_id }}]{% trans %}Paste{% endtrans %} {{ paste.unique_id }}[/url]" />
                    </div><br />
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon tooltip-top" title="{% trans %}Direct link{% endtrans %}" style="min-width: 48px; max-width: 90px"><i class="fa fa-link"></i></span>
                        <input onclick="this.select();" class="form-control input-lg" type="text" 
                            value="{{ config.full_url }}paste/{{ paste.unique_id }}" />
                    </div><br />
                    <div class="input-group" style="width: 100%">
                        <span class="tooltip-top input-group-addon" title="{% trans %}HTML{% endtrans %}" style="min-width: 48px; max-width: 90px"><i class="fa fa-code"></i></span>
                        <input onclick="this.select();" class="form-control input-lg" type="text" 
                            value='<a href="{{ config.full_url }}paste/{{ paste.unique_id }}">{% trans %}Paste{% endtrans %} {{ paste.unique_id }}</a>' />
                    </div><br />
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon tooltip-top" title="{% trans %}Markdown{% endtrans %}" style="min-width: 48px; max-width: 90px"><i class="fa fa-list"></i></span>
                        <input onclick="this.select();" class="form-control input-lg" type="text" 
                            value="[{% trans %}Paste{% endtrans %} {{ paste.unique_id }}]({{ config.full_url }}paste/{{ paste.unique_id }})" />
                    </div><br />
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon tooltip-top" title="{% trans %}Iframe embed{% endtrans %}" style="min-width: 48px; max-width: 90px"><i class="fa fa-code-fork"></i></span>
                        <input onclick="this.select();" class="form-control input-lg" type="text" 
                            value='<iframe src="{{ config.full_url }}embed/{{ paste.unique_id }}" style="overflow: auto" width="745" height="445" frameborder="0"></iframe>' />
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn-group pull-left">
                        <a title="{% trans %}Share on Twitter{% endtrans %}" href="http://twitter.com/share?url={{ config.full_url }}paste/{{ paste.unique_id }}" rel="nofollow" class="btn btn-primary tooltip-top"><i class="fa fa-twitter fa-lg"></i></a>

                        <a title="{% trans %}Share on Google+{% endtrans %}" href="https://plus.google.com/share?url={{ config.full_url }}paste/{{ paste.unique_id }}" rel="nofollow" class="btn btn-primary tooltip-top "><i class="fa fa-google-plus-square fa-lg"></i></a>

                        <a title="{% trans %}Share on Facebook{% endtrans %}" href="http://www.facebook.com/sharer.php?u={{ config.full_url }}paste/{{ paste.unique_id }}" rel="nofollow" class="btn btn-primary tooltip-top"><i class="fa fa-facebook fa-lg"></i></a>
                        
                        <a title="{% trans %}Share on LinkedIn{% endtrans %}" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ config.full_url }}paste/{{ paste.unique_id }}" rel="nofollow" class="btn btn-primary tooltip-top"><i class="fa fa-linkedin fa-lg"></i></a>
                    </div>

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {% trans %}Close window{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>