<!DOCTYPE html>
<html lang="{{ config.locale.0 }}">
<head>
    <meta charset="{{ config.charset }}">
    <title>{% trans %}Site is currently offline{% endtrans %} - {{ config.site_title }}</title>
    <link href="{{ assets('css', 'simpas.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="container wrap">
        <div class="panel" style="border-radius: 0; box-shadow: none">
            <h3 style="color: #808080">{% trans %}This site is currently offline{% endtrans %}</h3>
            <div style="margin-left: 20px;">
                {% set site_title = config.site_title %}
                <h6>
                {% if config.offline_message is not empty %}
                    {% if config.offline_message_allow_html %}
                        <h4>{{ config.offline_message|raw }}</h4>
                    {% else %}
                        <h4>{{ config.offline_message }}</h4>
                    {% endif %}
                {% else %}
                    <h4>{% trans %}{{ site_title }} is currently under maintenance. We be back later.{% endtrans %}</h4>
                {% endif %}
                </h6>
            </div>
        </div>

        <footer class="containter wrap copyright">
            <a href="http://www.macsch15.pl">Powered by SimPas Application by Macsch15</a>
        </footer>
    </div>
</body>
</html>