<!DOCTYPE html>
<html lang="{{ config.locale.0 }}">
<head>
  {% block document_header %}
    <meta charset="{{ config.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if config.site_description_crawlers is not empty %}
    <meta name="description" content="{{ config.site_description_crawlers }}">
    {% endif %}
    <title>{% block document_title %}{% endblock %}{{ block('document_title') is not empty ? " - " : null }}{{ config.site_title }}</title>
    <link href="{{ assets('css', 'simpas.css') }}" rel="stylesheet">
    {% if config.shortcut_icon_url is not empty %}
    <link rel="shortcut icon" href="{{ config.shortcut_icon_url }}">
    {% endif %}
    <script src="https://kit.fontawesome.com/123c96bf9e.js" crossorigin="anonymous"></script>
  {% endblock %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%"></div>
  </div>
  
  <div id="top" class="navbar-wrapper">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container wrap">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars fa-lg"></i>
          </button>

          <div class="navbar-brand">{{ config.site_title }}</div>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="tooltip-bottom" title="{% trans %}Page Index{% endtrans %}" href="{{ build_url() }}"><i class="fas fa-home fa-lg"></i></a></li>
            <li><a class="tooltip-bottom" title="{% trans %}Rules{% endtrans %}" href="{{ build_url('rules') }}"><i class="fas fa-gavel fa-lg"></i></a></li>
            <li><a class="tooltip-bottom" title="{% trans %}Latest pastes{% endtrans %}" href="{{ build_url('latest') }}"><i class="fas fa-history fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% import "Macros/Breadcrumb.html.twig" as breadcrumb %}

  <div class="breadcrumb">
    <div class="container wrap">
      <ul class="list-inline fa">
        {{ breadcrumb.add("Page Index"|trans, build_url()) }}
        {% block breadcrumb %}{% endblock %}
      </ul>
    </div>
  </div>

  <div class="container wrap wrap_content">
    <noscript>
      <div class="alert alert-info hidden-xs"><i class="fas fa-exclamation-triangle fa-lg"></i>
        {% trans %}It is recommended to enable JavaScript. Without it, this page may don't work correctly.{% endtrans %}
      </div>
    </noscript>

    {% if app.engineErrors()|length > 0 %}
    <div class="pull-left error_exclamation">
      <i class="fas fa-exclamation-triangle"></i>
    </div>

    <h3 style="color: #808080">{% trans %}Core error encountered!{% endtrans %}</h3>
    <h4>{% trans %}Error message{% endtrans %}:</h4>

    {% for error_message in app.engineErrors() %}
      <h4 style="padding-left: 125px">
        <code style="white-space: normal">
          {{ error_message }}
        </code>
      </h4>
    {% endfor %}

    {% else %}
      {% block document_content %}{% endblock %}
    {% endif %}
  </div>

  <footer class="containter wrap copyright hidden-xs hidden-sm">
    {% if constant('Application\\Application::ENVIRONMENT') == 'dev' %}
      <br /><br />
      <div class="pull-left">
        {% set utilisedMemory = app.getUtilisedMemory() %}
        {% trans %}Allocated memory: {{ utilisedMemory }}KB{% endtrans %}<br />
        <div style="text-align: left">{% trans %}GZIP Compression{% endtrans %}: {{ config.gzip_compression ? "On" : "Off" }}</div>
      </div>
    {% endif %}

    {% if config.show_cookies_info == true %}
      <div class="link_underline">
        {% trans %}This site uses cookies.{% endtrans %} <a href="{{ build_url('cookies') }}">{% trans %}Read more about cookies policy{% endtrans %}</a>
      </div>
    {% endif %}

    <a href="https://www.macsch15.pl">Powered by SimPas Application by Macsch15</a>
  </footer>

  {% block document_javascript %}
    <script src="{{ assets('js', 'jquery-2.1.1.min.js') }}"></script>
    <script src="{{ assets('js', 'jquery.fix.clone.js') }}"></script>
    <script src="{{ assets('js', 'moment.min.js') }}"></script>
    <script>
      moment.lang('{{ config.locale.0 }}');
    </script>
    <script src="{{ assets('js', 'bootstrap.min.js') }}"></script>
    <script src="{{ assets('js', 'chosen.jquery.min.js') }}"></script>
    <script src="{{ assets('js', 'bootstrapx-clickover.js') }}"></script>
    <script src="{{ assets('js', 'simpas.js') }}"></script>
    <script src="{{ assets('js', 'jquery.maxlength-min.js') }}"></script>
    {% if config.google_analytics_ua_code is not empty %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.google_analytics_ua_code }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.google_analytics_ua_code }}');
    </script>

    {% endif %}
    <script>
      $(function() {
        $(".chzn-select").chosen({no_results_text: "{% trans %}Oops, nothing found!{% endtrans %}"});

        $('#_chars_left').maxlength({  
          maxCharacters: "{{ config.max_chars }}", 
          status: true,  
          statusClass: "muted_font pull-right",
          statusText: "{% trans %}chars left{% endtrans %}",
          notificationClass: "chars_left"  
        });
      });
    </script>
  {% endblock %}
</body>
</html>